.history/
.pyenv/
.vscode/
poetry.lock
__pycache__/
mofsbufixer/script/__pycache__
 mofsbufixer/script/__pycache__/compile_sbu.cpython-310.pyc

mofsbufixer/script/test.sdf
tests/._test_functions.py
tests/added_hydrogen/
tests/all_inchikey.txt
tests/compile_ligands.py
tests/compiled_data/
tests/data/
tests/data_nitrogen/
tests/test_add_hydrogen.py
external/
mofsbufixer/script/._test.sdf
mofsbufixer/sym/__pycache__/symmetrize.cpython-310.pyc
mofsbufixer/script/__pycache__/compile_sbu.cpython-310.pyc
mofsbufixer/script/__pycache__/compile_sbu.cpython-310.pyc
mofsbufixer/sym/__pycache__/symmetrize.cpython-310.pyc